[Unit]
Description=Timer for dehydrated ECDSA

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true
RandomizedDelaySec=6h

[Install]
WantedBy=timers.target

