[Unit]
Description=Timer for nginx restart

[Timer]
OnCalendar=*-*-* 13:00:00
Persistent=true
RandomizedDelaySec=6h

[Install]
WantedBy=timers.target

